.modal-content {
  color: red; /* Define a cor do texto como vermelha */
  background-color: white; /* Fundo branco para contraste */
  font-size: 12px; /* Tamanho de fonte ajustado */
  padding: 20px; /* Adicionando padding para espaçamento */
}

.modal {
  color: black; /* Define a cor do texto como vermelha */
  background-color: white; /* Fundo branco para contraste */
  font-size: 12px; /* Tamanho de fonte ajustado */
  padding: 20px; /* Adicionando padding para espaçamento */
}

.cadastroSection, .financasSection {
  margin-bottom: 20px;
}

.local-button {
  margin: 10px;
}

.modal button {
  display: block;
  margin: 0 auto 10px;
}

.cadastroSection h2, .financasSection h2 {
  margin-top: 0;
  font-size: 18px;
  border-bottom: 1px solid #1d1b1b;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cadastroSection div, .financasSection div {
  padding: 5px;
  border-bottom: 1px solid #f5f2f2;
}

.cadastroSection div:last-child, .financasSection div:last-child {
  border-bottom: none;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hide-button {
  display: none;
}

.show-button {
  display: flex;
}

.visualizar-button {
  font-size: 20px;
  padding: 10px 20px;
}
